{% extends "base.html" %}

{% block content %}
 <div class="container text-center">
    <div class="row justify-content-center mt-4 mb-3">
        <div class="col-6 justify-content-start">
        <h5 class="mb-3">Hi {{ first_name | title }},</h5>
        <br>
        <h6 class="mb-3" style="color: white; font-weight: 300;">Thank you for reaching out to Prospot Financing.
        A representative will contact you shortly. If you are ready to apply for financing, please click the
        link below.</h6>
        <br>
        <a class="btn btn-custom w-100" href="{{ apply }}">Complete Credit Application</a>
        </div>
    </div>
  </div>
{% endblock %}


