{% include "header.html" %}

<!-- Jumbotron -->
<style>
  .bg-image {
     background-image: url("{{ url_for ('static', filename='/images/welder.jpg') }}");
     height: 100vh;
     background-size: cover;
    }

</style>
<div class="text-center bg-image">
  <br>
  <br>
  <div class="card col-10 p-2 offset-1" style="background-color: rgba(0, 0, 0, 0.6); height: 350px;">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">Hi {{ first_name }},</h1>
        <br>
        <h6 class="mb-3">Thompson Teague is your Account Manager and will contact you about financing your {{ equipment }}.</h6>
        <br>
        <a data-mdb-ripple-init class="btn btn-outline-light" href="{{ apply }}" role="button">Complete Credit Application</a>
      </div>
    </div>
  </div>
</div>
<!-- Jumbotron -->

