{% include "header.html" %}

<div class="container" style="height: 25px;"></div>

<div class="container" style="height:50px;"></div>
<div class="card col-6 offset-3" style="max-width: 700px; border-color: #003366;">
  <div class="row g-0">
    <div class="col-md-4" style="display: flex;
                        justify-content: center;
                        align-items: center;">
      <img src="{{ url_for ('static', filename='/images/i4.jpg') }}" class="img-fluid rounded-start" alt="prospotwelder" style="width:78%; padding: 10px;">
    </div>
    <div class="col-md-8">
      <div class="card-body card text-white" style="background-color: #003366;">
        <h5 class="card-title">Equipment Info</h5>
        <p class="card-text">
          <form method="POST" action="{{ url_for('prospot_payment') }}">
            <div class="input-group mb-3">
              <span class="input-group-text"><i class="fas fa-file-lines" style="width: 7px"></i></span>
              <select class="form-control" name="equipment" style="focus:none; box-shadow: none;">
                <option value="" disabled selected>Choose Equipment</option>
                {% for equip in equip_list %}
                <option value="{{equip[0]}}">{{ equip[0] }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text"><i class="fas fa-dollar-sign" style="width: 7px"></i></span>
              <input class="form-control" type="number" name="cost" placeholder="Equipment Cost" aria-label="Equipment Cost" style="focus:none; box-shadow: none;">
            </div>
            <button type="submit" class="btn btn-light" style="color: #003366;">Calculate Payment</button>
            <p></p>
          </form>
      </div>
    </div>
  </div>
</div>
<div class="container" style="height: 50px;"></div>
<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100 border-0">
      <img src="{{ url_for ('static', filename='/images/i4s-new-base.jpg') }}" class="card-img-top" alt="..." style="display:block; margin-left: auto; margin-right: auto; max-height:150px; width:auto;">
      <div class="card-body">
        <h5 class="card-title" style="text-align:center;">Spot Welding</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 border-0">
      <img src="{{ url_for ('static', filename='/images/SP5-DP.jpg') }}" class="card-img-top" alt="..." style="display:block; margin-left: auto; margin-right: auto; max-height:150px; width:auto; padding:10px;">
      <div class="card-body">
        <h5 class="card-title" style="text-align:center;">Mig Welding</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 border-0">
      <img src="{{ url_for ('static', filename='/images/PR-8 With Handle.jpg') }}" class="card-img-top" alt="..." style="display:block; margin-left: auto; margin-right: auto; max-height:150px; width:auto; padding: 5px;">
      <div class="card-body">
        <h5 class="card-title" style="text-align:center;">Riveting</h5>
      </div>
    </div>
  </div>
</div>
