{% include "header.html" %}
<style>
  .bg-image {
     background-image: url("{{ url_for ('static', filename='/images/welder.jpg') }}");
     height: 100vh;
     background-size: cover;
    }

  .form-control::placeholder {
     color: white !important;
     opacity: 0.7 !important;
    }

</style>

<div class="bg-image">
        <br>
        <br>
        <div class="card col-10 p-2 offset-1" style="background-color: rgb(0,0,0, 0.6); display: block;">
            <div class="row">
              <div class="col-4 text-center">
                <img src="{{ url_for ('static', filename='/images/i4.png') }}" class="img-fluid rounded-start" alt="prospotwelder" style="width:70%; padding: 5px;">
              </div>
              <div class="col-6 pt-5">
                <h2 class="text-white">Free ProSpot Financing Quote</h2>
                <p></p>
                <form method="POST" action="{{ url_for('prospot_payment') }}">
                    <p></p>
                    <div class="input-group mb-3">
                      <select class="form-control" name="equipment" style="focus: none; box-shadow: none; background-color: transparent; color: white; opacity: 0.7; border-radius: 0;">
                        <option value="" disabled selected>Choose Equipment</option>
                        {% for equip in equip_list %}
                        <option value="{{equip[0]}}">{{ equip[0] }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <p></p>
                    <div class="input-group mb-3">
                      <input class="form-control" type="number" name="cost" placeholder="Enter Equipment Cost" aria-label="Equipment Cost" style="focus:none; box-shadow: none; background-color: transparent; color: white; border-radius: 0;">
                    </div>
                    <p></p>
                    <button type="submit" class="btn btn-outline-light">Calculate Payment</button>
                  </form>
              </div>
        </div>
        </div>
</div>

